* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #fafafa;
}

.ant-layout {
  height: 100%;
}
.ant-layout-header {
  background-color: #fff !important;
}

/*iconfont 图标样式*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}